<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	
<head th:replace="header :: head(~{:: title}, ~{:: link})">
<title>Query</title>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="List of Runways in this Airport" />
<meta name="author" content="Abioye Bankole" />
<link class="custom-link" rel="icon" href="favicon.ico" />
<!-- Bootstrap core CSS -->
<link class="custom-link"
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous" />

<link class="custom-link" th:href="@{css/style.css}" rel="stylesheet" />
</head>
<body class="gray-bg">
	<div>
		<div th:replace="header :: header">
			<!-- ============================================================================ -->
			<!-- This content is only used for static prototyping purposes (natural templates)-->
			<!-- and is therefore entirely optional, as this markup fragment will be included -->
			<!-- from "fragments/header.html" at runtime.                                     -->
			<!-- ============================================================================ -->
			<div class="navbar navbar-inverse navbar-fixed-top">
				<div class="container">
					<div class="navbar-header">
						<a class="navbar-brand" href="#">Static header</a>
					</div>
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li class="active"><a href="#">Home</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div>
		<br/>
		<br/>
		<br/>
		
	<h4><span th:text="${country.name}"></h4>
	
	
        <div class="row">
            <table class="table datatable">
                <thead>
                    <tr>
                        <th>Airports</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="airport : ${airports}">
                        <td>
    						<a href="airport.html" th:href="@{/airport/{id}(id=${airport.id})}">
    						<span th:text="${airport.name}"></span></a>
    					</td>
                    </tr>
                </tbody>
            </table>
            
            <div class="row">
                <div class="form-group col-md-1">
                    <select class="form-control pagination" id="pageSizeSelect">
                        <option th:each="pageSize : ${pageSizes}" th:text="${pageSize}"
                            th:value="${pageSize}"
                            th:selected="${pageSize} == ${selectedPageSize}"></option>
                    </select>
                </div>
                <div th:if="${airports.totalPages != 1}"
                    class="form-group col-md-11 pagination-centered">
                    <ul class="pagination">
                        <li th:class="${airports.number == 0} ? disabled"><a
                            class="pageLink"
                            th:href="@{query(pageSize=${selectedPageSize},countryName=${country.name}, page=1)}">«</a>
                        </li>
                        <li th:class="${airports.number == 0} ? disabled"><a
                            class="pageLink"
                            th:href="@{query(pageSize=${selectedPageSize},countryName=${country.name}, page=${airports.number})}">←</a>
                        </li>
                        <li
                            th:class="${airports.number == (page - 1)} ? 'active pointer-disabled'"
                            th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
                            <a class="pageLink"
                            th:href="@{query(pageSize=${selectedPageSize},countryName=${country.name}, page=${page})}"
                            th:text="${page}"></a>
                        </li>
                        <li
                            th:class="${airports.number + 1 == airports.totalPages} ? disabled">
                            <a class="pageLink"
                            th:href="@{query(pageSize=${selectedPageSize}, countryName=${country.name}, page=${airports.number + 2})}">→</a>
                        </li>
                        <li
                            th:class="${airports.number + 1 == airports.totalPages} ? disabled">
                            <a class="pageLink"
                            th:href="@{query(pageSize=${selectedPageSize},countryName=${country.name}, page=${airports.totalPages})}">»</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
	
	
	
        <script
  src="https://code.jquery.com/jquery-1.11.1.min.js"
  integrity="sha256-VAvG3sHdS5LqTT+5A/aeq/bZGa/Uj04xKxY8KM/w9EE="
  crossorigin="anonymous"></script>
    <script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var countryName = /*[[${country.name}]]*/ 'Country Name';
        $(document).ready(function() {
    changePageAndSize();
});
function changePageAndSize() {
    $('#pageSizeSelect').change(function(evt) {
        window.location.replace("query?pageSize=" + this.value + "&countryName=" + countryName + "&page=1");
    });
}
        /*]]>*/
    </script>
	
	
	
<!-- <table>
  <tr>
    <th>Airports</th>
  </tr>
  <tr th:each="airport,iter : ${airports}">
    <td>
    	<a href="airport.html" th:href="@{/airport/{id}(id=${airport.id})}"><span th:text="${airport.name}"></span></a>
    </td>
			
  </tr>
</table> -->
</body>
</html>