<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Query and Reports</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
	<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
	<script src="/js/datatable.js"></script>
</head>
<body>

	<h4>Reports</h4>
	
<table>
  <tr>
    <th>Countries with highest number of airports</th>
  </tr>  
  <tr th:each="instance : ${countriesWithMost}">
         <td th:text="${instance.name}">country</td>
         <td th:text="${instance.frequency}">frequency</td>			
  </tr>
  
</table>
	
<table>
  <tr>
    <th>Countries with least number of airports</th>
  </tr>  
  <tr th:each="instance : ${countriesWithLeast}">
         <td th:text="${instance.name}">country</td>
         <td th:text="${instance.frequency}">frequency</td>			
  </tr>
  
</table>
	
<table>
  <tr>
    <th>Types of surfaces</th>
  </tr>  
  <tr th:each="surface,iter : ${runwaySurfaces}">
    <td th:text="${surface}"></td>			
  </tr>
  
</table>
	
<table>
  <tr>
    <th>Common Runway Identifications</th>
  </tr>   
  <tr th:each="instance : ${identifications}">
         <td th:text="${instance.le_ident}">identification</td>
         <td th:text="${instance.frequency}">frequency</td>			
  </tr>
  
</table>

</body>
</html>