<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: head(~{:: title}, ~{:: link})">
<title>Query and Reports</title>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="List of Runways in this Airport" />
<meta name="author" content="Abioye Bankole" />
<link class="custom-link" rel="icon" href="favicon.ico" />
<!-- Bootstrap core CSS -->
<link class="custom-link"
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous" />

<link class="custom-link" th:href="@{css/style.css}" rel="stylesheet" />
</head>
<body class="gray-bg">
	<div>
		<div th:replace="header :: header">
			<!-- ============================================================================ -->
			<!-- This content is only used for static prototyping purposes (natural templates)-->
			<!-- and is therefore entirely optional, as this markup fragment will be included -->
			<!-- from "fragments/header.html" at runtime.                                     -->
			<!-- ============================================================================ -->
			<div class="navbar navbar-inverse navbar-fixed-top">
				<div class="container">
					<div class="navbar-header">
						<a class="navbar-brand" href="#">Static header</a>
					</div>
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li class="active"><a href="#">Home</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div>
		<br/>
		<br/>
		<br/>
		
	<h4>Reports</h4>
	
	
<table>
  <tr>
    <th>Types of surfaces</th>
  </tr>  
  <tr th:each="surface,iter : ${runwaySurfaces}">
    <td th:text="${surface}"></td>			
  </tr>
  
</table>

</body>
</html>